<HTML>
   <head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title> About </title>
   </head>
   <body>
      <h2><center>About the site</center></h2>
      <p><center>Concussion Tracker is a student-developed application designed to aid those recovering from concussions and their loved ones. We accomplish this through tracking, identifying, and resolving any concussion-related issues. All medical counsel can be attributed to Dr. Teena Shetty and her team.</center></p>
      <p><center><b>Yujin Yamahara:</b> Sleep/Alcohol/Caffeine Tracker</center></p>
      <p><center><b>Frederick Cunningham:</b> First Visit Questionnaire</center></p>
      <p><center><b>Dennis Lin:</b> Symptom Tracker</center></p>
      <p><center><b>Ben Steinberg:</b> About page and FAQ</center></p>
      <p><center><b>Bennet Varrichione:</b> RTP </center></p>
      <p><center><b>Eli Schiff:</b> Menstrual Tracker and Heroku Server</center></p>
    </BODY>
</HTML>